// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------


.header__1{
    font-weight: 700;
    font-size: $fs_26;
    line-height: $lh_28;
    color: $headerColor_1;
    text-transform: uppercase;
    @include tablet{
        font-size: $fs_42;
        line-height: $lh_42;
    }

    @include desktop{
        font-size: $fs_54;
        line-height: $fs_54;
    }
}

.header__2{
    font-weight: 700;
    font-size: $fs_32;
    line-height: $lh_38;
    color: $headerColor_2;
    @include tablet{
        font-size: $fs_42;
        line-height: $lh_44;
    }

    @include desktop{
        font-size: $fs_48;
        line-height: $lh_50;
    }
}

.header__footer{
    font-size: $fs_28;
    line-height: $lh_42;
    font-weight: $fw_bold;
    color: $white;

    @include tablet{
        font-size: $fs_42;
        line-height: $lh_44;
    }
    @include desktop{
        font-size: $fs_48;
        line-height: $lh_50;
    }
}