// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@mixin button(
  $background-color,
  $border-color,
  $font-color,
  $background-colorh,
  $font-colorH
) {
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
  transition: color 0.3s linear;
  color: $font-color;
  background-color: $background-color;
  cursor: pointer;

  &:hover {
    border-color: $border-color;
    background-color: $background-colorh;
    color: $font-colorH;
  }
}

%button {
  border-radius: 25px;
  border: 1px solid transparent;
  outline: none;
  transition: color 0.3s linear;
  color: white;
  background-color: #8d81ac;
  cursor: pointer;
  &:hover {
    border-color: #8d81ac;
    background-color: #fff;
    color: #8d81ac;
  }
}

.container {
  min-width: 320px; //should be declared on variables
  max-width: 480px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.header {
  position: relative;
  padding: 31px 10px;
  background-color: #27262a;
  display: grid;
  grid-template-areas: "log btn burger";

  &__log {
    grid-area: log;
  }
  &__image {
    width: 43px;
    height: 41px;
    display: inline-block;
    cursor: pointer;
    background-image: url("../../../dist/img/log.png");
    &:hover {
      background-image: url("../../../dist/img/log-hvr.png");
    }
  }
  &__slog {
    display: none;
  }
  &__btn {
    justify-self: center;
    width: 117px;
    height: 37px;
    grid-area: button;
    font-size: 15px;
    font-weight: bold;
    @include button(#8d81ac, #8d81ac, #fff, #fff, #8d81ac);
  }
}

.burger {
  grid-area: burger;
  justify-self: end;
  height: 41px;
  width: 41px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;

  &__tch {
    cursor: pointer;
    opacity: 0;
    width: inherit;
    height: inherit;
    z-index: 1;
    margin: 0;
    position: absolute;
  }
  &__itm {
    margin-right: 5px;
    width: 26px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: width 0.4s linear;
    &:first-of-type {
      width: 20px;
    }
  }
  &input:checked ~ &__itm:first-of-type {
    width: 26px;
  }
  &input:checked ~ &__itm:last-of-type {
    width: 20px;
  }
  &input:checked ~ .menu {
    left: 50%;
  }
}

.menu {
  transition: left 0.4s linear;
  position: absolute;
  top: 100%;
  left: 150%;
  background-color: #333333;
  width: 290px;
  transform: translate(-50%, 0);
  z-index: 1;
  &__itm {
    display: block;
    color: white;
    font-size: 26px;
    line-height: 3.35;
    border-bottom: 2px solid #3b3b3b;
    padding-left: 33px;
    position: relative;
  }
  &__itm:hover,
  .selectItem {
    color: $headerColor_1; //should be declared on variables
  }
  &__itm:hover:before,
  .selectItem:before {
    content: "";
    width: 8px;
    height: 53px;
    background-color: $headerColor_2;
    position: absolute;
    top: 53%;
    left: 0;
    transform: translate(0, -50%);
  }
}

.home {
  position: relative;
  height: 616px;
  background: url("../../../dist/img/hdr.png") center;
  background-size: cover;
  text-align: center;
  padding: 37px 0 0 0;
  margin-bottom: 115px;

  &__tle {
    color: white;
    font-size: 48px;
    font-weight: bold;
  }
  &__slog {
    font-size: 19px;
    color: $headerColor_2;
    line-height: 1.9;
    padding-top: 11px;
  }
  &__txt {
    font-size: 17px;
    color: #848e97;
    line-height: 2;
  }
  &__btn {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    width: 290px;
    height: 45px;
    bottom: 0;
    transform: translate(-50%, 50%);
    @include button(#8d81ac, #8d81ac, #fff, #fff, #8d81ac);
    &:after {
      position: absolute;
      content: "unlimited 30-days trial period";
      font-size: 14px;
      font-weight: 400;
      color: #848e97;
      top: 125%;
      left: 50%;
      transform: translate(-50%, 0);
      white-space: nowrap;
    }
  }
}

.people {
  background-image: url("../../../dist/img/testbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 60px 10px 0 10px;
  box-shadow: inset 0 -80px 20px 20px rgba(75, 59, 78, 0.9);

  &__slog {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
  }
  &__txt {
    display: none;
  }
  &__ln {
    display: inline-block;
    width: 280px;
    height: 2px;
    background-color: #645766;
    margin-top: 43px;
  }
}

.card {
  &__image {
    margin: 35px 0 20px 0;
  }
  &__txt {
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    hyphens: auto;
    line-height: 1.6;
  }
}

//now it's time to design for high level pixels.

@media screen and (min-width: 481px) {
  .header {
    padding: 21px 10px;
    grid-template-areas:
      "log btn"
      "burger buger";

    &__btn {
      font-size: 16px;
      justify-self: end;
      width: 145px;
      height: 40px;
    }
    &__log {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover > .header__image {
        background-image: url("../../../dist/img/log-hvr.png");
      }
      &:hover > .header__slog {
        color: #ffffff;
      }
    }
    &__slog {
      display: inline-block;
      font-size: 24px;
      font-family: Lato, sans-serif;
      font-weight: bold;
      color: #8d81ac;
      margin-left: 17px;
    }
  }

  .burger {
    height: 40px;
    width: auto;
    justify-self: center;
    background: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    &__tch,
    &__itm {
      display: none;
    }
  }

  .menu {
    position: static;
    transform: translate(0, 0);
    display: flex;
    justify-content: space-between;
    transition: none;
    background: none;
    min-width: 450px;

    &__itm {
      display: inline-block;
      line-height: 1;
      border: none;
      padding-left: 0;
      position: static;
      font-size: 16px;
      font-weight: bold;
      color: #8d81ac;

      &:hover:before {
        content: none;
      }
    }
  }
  .home {
    height: 680px;

    &__tle {
      font-size: 72px;
    }
    &__slog {
      font-size: 24px;
    }
    &__btn {
      width: 390px;
      height: 65px;
      font-size: 21px;
    }
  }
  .people {
    display: grid;
    grid-column-gap: 10px;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);

    &__slog,
    &__txt,
    &__ln {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    &__slog {
      font-size: 42px;
    }

    &__txt {
      width: 670px;
      display: inline-block;
      margin-top: 58px;
      font-family: Lato, sans-serif;
      font-size: 14px;
      color: #645766;
    }
    &__ln {
      margin-top: 15px;
      width: 699px;
    }
  }
  .card {
    &__image {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);

      &-minw {
        position: relative;
        min-height: 154px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin-left: -1;
    margin-right: -1;
    box-sizing: content-box;
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
  }
  .header {
    grid-template-columns: 149px 1fr 170px;
    grid-template-areas: "log burger btn";
  }
  .burger {
    justify-self: end;
    align-items: center;
    justify-content: flex-end;
  }
  .home {
    height: 699px;
  }
  .people {
    grid-template-columns: repeat(3, 1fr);

    &__slog,
    &__txt,
    &__ln {
      grid-column-start: 0;
      grid-column-end: 4;
    }

    &__slog {
      font-size: 47px;
    }

    &__txt {
      width: 859px;
    }
    &__ln {
      width: 779px;
    }
  }
}

.cont {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;

  @include tablet {
    min-width: 481px;
    max-width: 993px;
    margin: 0 auto;
  }

  @include desktop {
    min-width: map-get($map: $breakpoints, $key: 'xl_start');
    max-width: map-get($map: $breakpoints, $key: 'xl_end');
  }
}
