// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin mobile {
  @media (min-width: map-get($breakpoints, "sm_start")) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map-get($breakpoints, "md_start")) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($breakpoints, "xl_start")) {
    @content;
  }
}
