// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$headerColor_1: #635c73;
$headerColor_2: #8d81ac;
$textColor: #323232;
$paragraphColor: #848e97;
$white: #ffffff;

/* FONT SIZES */
$fs_14: 0.875rem;
$fs_15: 0.938rem;
$fs_16: 1rem;
$fs_21: 1.313rem;
$fs_24: 1.5rem;
$fs_26: 1.625rem;
$fs_28: 1.75rem;
$fs_32: 2rem;
$fs_42: 2.625rem;
$fs_48: 3rem;
$fs_54: 3.375rem;
$fs_60: 3.75rem;
$fs_82: 5.125rem;

/* FONT WEIGHT */
$fw_normal: 400;
$fw_bold: 700;

/* LINE HEIGHT */
$lh_15: 0.938rem;
$lh_16: 1rem;
$lh_18: 1.125rem;
$lh_20: 1.25rem;
$lh_21: 1.313rem;
$lh_24: 1.5rem;
$lh_28: 1.75rem;
$lh_32: 2rem;
$lh_38: 2.375rem;
$lh_42: 2.625rem;
$lh_44: 2.75rem;
$lh_50: 3.125rem;
$lh_62: 3.875rem; 
$lh_84: 5.25rem;

$breakpoints: (
  sm_start: 20rem,
  //320px
  sm_end: 30rem,

  md_start: 30.063rem,
  // 768px
  md_end: 62rem,
  xl_start: 62.063rem,
  xl_end: 75rem,
  // 1200px
);
