// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 18px;

  @include tablet{
    padding-top: 98px;
    padding-bottom: 94px;

  }


  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
  }
  h3{
    margin-top: 14px;
    text-align: center;
    margin-bottom: 32px;
    @include tablet{
      margin-bottom: 39px;
    }
    @include desktop{
      margin-bottom: 61px;
    }
  }
  .subscriptions {
    display: grid;
    place-items: center;
    color: white;
    grid-template-columns: 1fr;
    row-gap: 18px;
    @include tablet{
      grid-template-columns: repeat(2, 1fr);
      column-gap: 25px;
      row-gap: 30px;
    }
    @include desktop{
      grid-template-columns: repeat(4, 1fr);
    }
    .subscription{
      width: 257px;
      &__title{
        font-size: $fs_24;
        line-height: $lh_24;
        color: $white;
        text-transform: uppercase;
        background-color: rgba($color: $white, $alpha: 0.06);
        height: 97px;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
      >div{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        height: 360px;
        background-color: rgba($color: $white, $alpha: 0.11);
      }
      &__price{
        font-size: $fs_60;
        line-height: $lh_62;
        color: $white;
        font-weight: $fw_bold;
      }
      &__duration{
        margin-bottom: 18px;
        text-transform: uppercase;
        font-size: $fs_14;
        line-height: $lh_16;
      }
      &__divider{
        background-color: $headerColor_2;
        height: 5px;
        width: 60px;
        margin-bottom: 10px;
      }

      &__detail{
        font-size: $fs_16;
        line-height: $lh_28;
        margin-bottom: 17px;
        text-align: center;
        
      }

      &__button{
        background-color: rgba($color: $white, $alpha: 0.15);
        padding: 15.5px 38px;
        border-radius: 25px;
        text-transform: uppercase;
        color: $white;
        font-size: $fs_15;
        line-height: $lh_15;
      }

      &.active{

        background-color: rgba($color: #463048, $alpha: 0.84);
        width: 299px;
        height: 560px;
        &.subscription{
          >h4{
            background-color: rgba($color: #000000, $alpha: 0.11);
            height: 111px;
          }
          >div{
            height: 449px;
            background-color: rgba($color: #463048, $alpha: 0.84);
            
            .subscription{
              &__button{
                margin-top: 53px;
                font-size: $fs_16;
                line-height: $lh_18;
              }
              &__price{
                font-size: $fs_82;
                line-height: $lh_84;
              }
       
              &__detail{
                line-height: $lh_32;
              }
            }
          }
        }
      }
    }

    
}
}


