.details {
  overflow: hidden;

  .header__2 {
    text-align: center;
  }
  padding: 0 30px;

  &__articles {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 64px;
  }

  .article {
    margin-top: 36px;
    text-align: center;

    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      column-gap: 23px;
      text-align: start;
      justify-content: space-between;
      align-items: center;
    }
    span {
      @include tablet {
        width: 20%;
        flex-shrink: 0;
        display: block;
        text-align: center;
      }
    }
    &__img {
      margin: 0 auto;
      margin-bottom: 27px;
      width: fit-content;
    }
    > div {
      @include tablet {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &__header {
      font-size: $fs_16;
      line-height: $lh_16;
      color: $textColor;
      font-weight: $fw_normal;
      margin-bottom: 14px;
    }
    &__paragraph {
      color: #848e97;
      font-size: $fs_14;
      line-height: $lh_21;
      font-weight: $fw_normal;
    }
  }

  .editor {
    display: block;
    &_2 {
      display: none;
    }
    @include tablet {
      display: none;
      &_2 {
        display: block;
        margin-right: 0;
        padding-right: 0;
        object-fit: cover;
      }
    }
  }

  @include desktop {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .md {
    display: none;

    @include desktop {
      display: flex;
      flex-direction: column;
    }

    &__editor {
      width: 600px;
    }
  }

  > .header__2 {
    @include desktop {
      display: none;
    }
  }
}

@include desktop {
  .editor,
  .editor_2 {
    display: none !important;
  }
}
@include desktop {
  .details_cont {
    background-color: #f4f4f4;
  }
}

@include desktop {
  .details__articles {
    .article__img {
      object-fit: contain;
    }
  }
}
