.revolutionary {
  padding: 0 23px;
  margin-bottom: 120px;
  .header__1 {
    text-align: center;
    margin-bottom: 27px;
  }

  &__paragraph {
    font-family: "Lato", sans-serif;
    text-align: center;
    padding-right: 8px;
    font-size: $fs_14;
    line-height: $lh_20;
    margin-bottom: 36px;
    @include tablet {
      font-size: $fs_21;
      line-height: $lh_32;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 20px;
  }
  &__button {
    border: 1px solid #999;
    border-radius: 7px;
    display: flex;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    > div {
      padding: 6px 8px;
      border-right: 1px solid #999;
      background-color: #eee;
      display: flex;
      column-gap: 6px;
      align-items: center;
    }
    &__number {
      padding: 6px 8px;
    }
  }
}
