@charset 'UTF-8';

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"); //Montserrat -> main
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); //Lato

/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/mixins";

// 3. Base stuff
@import "base/typography";

// 4. Layout-related sections
@import "layout/footer", "layout/revolutionary", "layout/hereis";

// 5. Page-specific styles
@import "pages/home";
